/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;

  --toggle-width: 48px;
  --toggle-padding: 4px;
}

@media only screen and (max-width: 760px) {
  .switch {
    --toggle-width: 36px;
    --toggle-padding: 4px;
  }
}

.switch {
  --toggle-height: calc(var(--toggle-width) / 2 + var(--toggle-padding));
  --toggle-switch-height: calc(var(--toggle-height) - 2 * var(--toggle-padding));
  --toggle-switch-width: calc(var(--toggle-width) / 2 - var(--toggle-padding));
  width: var(--toggle-width);
  height: var(--toggle-height);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: var(--toggle-switch-height);
  width: var(--toggle-switch-width);
  left: var(--toggle-padding);
  bottom: var(--toggle-padding);
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: black;
}

input:focus + .slider {
  box-shadow: 0 0 1px black;
}

input:checked + .slider:before {
  -webkit-transform: translateX(var(--toggle-switch-width));
  -ms-transform: translateX(var(--toggle-switch-width));
  transform: translateX(var(--toggle-switch-width));
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
