.App {
    width: 100%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

p {
    font-size: 12px;
}

hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#game {
    margin: auto;
    width: 100%;
}

#game-view {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.button-row>* {
    white-space: normal
}

.button-row>*>button {
    white-space: normal
}

.elevated {
    overflow: hidden;
    border-radius: 0.5rem;
    box-shadow: 0 0 20px 0px var(--shadow-color);
    padding: 1rem;
}

.skinny {
    width: 100%;
    max-width: 900px;
    margin: auto;
}

.fill-height {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.expand-height {
    flex: 1 1 auto;
}

input:focus,
select:focus,
.form-control:focus {
    border-color: var(--selected-color);
    box-shadow: 0 0 0 0.5px var(--selected-color);
}

.btn {
    background-color: #f8f9fa;
    color: black;
}

.btn:hover {
    background-color: #fefefe;
    box-shadow: 0 0 10px 2px var(--shadow-color);
    color: black;
}

.btn:hover:disabled {
    box-shadow: none;
}

.btn:active {
    background-color: #f8f8f8;
    box-shadow: 0 0 10px 2px var(--shadow-color);
}

.btn:focus {
    box-shadow: 0 0 10px 2px var(--shadow-color);
    color: black;
}
