.App {
    text-align: center;
    width: 700px;
    margin: 0 auto;
}

p {
    font-size: 12px;
}

.button-row {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.button-row button {
    width: 40%;
}

/* home */
#home .updates {
    width: 60%;
}

/* walkthrough */
#walkthrough img.screen {
    width: 80%;
    user-select: none; 
}

#walkthrough .arrow {
    width: 10%;
    display: inline-block;
}

#walkthrough #left-arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    cursor: pointer;
    transform: rotate(135deg);
}

#walkthrough #right-arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    cursor: pointer;
    transform: rotate(-45deg);
}

#gamecode {
    cursor: pointer;
}