.App {
    height: 100%;
}

p {
    font-size: 12px;
}

hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.button-row>* {
    white-space: normal
}

.button-row>*>button {
    white-space: normal
}

.elevated {
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0px 4px 10px 0px #aaa;
    padding: 1rem;
}

.skinny {
    margin: auto;
    padding: 1rem;
    max-width: 700px;
}

/* walkthrough */
#walkthrough img.screen {
    width: 100%;
    user-select: none;
}

#walkthrough .arrow {
    width: 10%;
    display: inline-block;
}

#walkthrough #left-arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    cursor: pointer;
    transform: rotate(135deg);
}

#walkthrough #right-arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    cursor: pointer;
    transform: rotate(-45deg);
}

.message {
    margin-top: 20px;
    box-shadow: 0 4px 8px 2px #00000022;
}

.form-error {
    color: red;
    font-size: 75%;
    min-height: 12px;
}