body {
    --background-color: #ffffff;
    --unselected-color: #aaaaaaff;
    --selected-color: #000000ff;
    --shadow-color: #aaaaaa55;
    --strong-shadow-color: #21252999;
    --text-color: #000000ff;

    --button-color: #f8f9fa;
    --button-hover-color: #fefefe;

    --border-color: rgba(0, 0, 0, 0.1);
}

body.dark {
    --background-color: #121212;
    --unselected-color: #787878ff;
    --selected-color: #edededff;
    --shadow-color: #78787855;
    --strong-shadow-color: #d1d6da99;
    --text-color: #edededff;

    --button-color: #14171b;
    --button-hover-color: #1c1c1c;

    --border-color: rgba(237, 237, 237, 0.1);
}

body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--text-color);
}

#root {
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

.outer {
    padding-right: 2vw;
    padding-left: 2vw;
    flex: 1 1 auto;
    display: flex;
}

hr {
    border-color: var(--border-color);
}