body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
    text-align: center;
    width: 700px;
    margin: 0 auto;
}

@media only screen and (max-width: 700px) {
  #root {
    width: 90vw;
  }
}

#header h3 {
    margin-top: 1rem;
}

#header h6 {
    margin-bottom: 0;
}