body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    
    --unselected-color: #aaaaaaff;
    --selected-color: #000000ff;
    --shadow-color: #aaaaaa55;
}

.outer {
    padding-right: 2vw;
    padding-left: 2vw;
    flex: 1 1 auto;
    display: flex;
}