.hidetips .tip {
    display: none;
}

.tip {
    display: inline;
    position: absolute;
    height: 12px;
    width: 12px;
    margin-right: 4px;
    margin-left: 4px;
    color: var(--text-color);
}

.tip svg {
    display: block;
}

.tipmodal {
    border: 1px solid var(--border-color);
    position: absolute;
    padding: 4px;
    border-radius: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
    min-width: 200px;
    z-index: 2;
    background-color: var(--background-color);
}

.tipmodal.left { 
    left: 0;
}

.tipmodal.right { 
    right: 0;
}

.tip .tipmodal {
    display: none;
}

.tip:hover .tipmodal {
    display: block;
}

.tipmodal p {
    margin: 0;
}
