.tile.revealed.r {
    background-color: #dc3545;
}

.tile.revealed.b {
    background-color: #007bff;
}

.tile.revealed.y {
    background-color: #999;
}

.tile.revealed.x {
    background-color: #000000;
}

.tile.revealed .text { color: #ffffff; }
.tile.hidden.key.r .text { color: #dc3545; }
.tile.hidden.key.b .text { color: #007bff; }
.tile.hidden.key.y .text { color: #999; }
.tile.hidden.key.x .text { color: #000000; }

.tile.revealed .emoji {  }
.tile.hidden.key.r .emoji { text-shadow: 0 0 12px #dc3545, 0 0 12px #dc3545, 0 0 12px #dc3545; }
.tile.hidden.key.b .emoji { text-shadow: 0 0 12px #007bff, 0 0 12px #007bff, 0 0 12px #007bff; }
.tile.hidden.key.y .emoji {  }
.tile.hidden.key.x .emoji { text-shadow: 0 0 12px #000000, 0 0 12px #000000, 0 0 12px #000000; }
