img.screen {
    width: 80%;
    user-select: none; 
}

.arrow {
    width: 10%;
    display: inline-block;
}

#left-arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    cursor: pointer;
    transform: rotate(135deg);
}

#right-arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    cursor: pointer;
    transform: rotate(-45deg);
}