.game-form {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.game-form .tabs {
    width: 100%;
}

.game-form .tabs .tab {
    padding: 0;
    /*border-top-left-radius: 4px;*/
    /*border-top-right-radius: 4px;*/
    /*box-shadow: 1px -2px 1px 1px #00000022;*/
}

.game-form .tabs .tab {
    cursor: pointer;
    display: block;
    font-size: 1em;
    line-height: 1em;
    padding: 0.5rem 0;
    text-align: center;
    border-bottom: 2px solid transparent;
}

.game-form .tabs .tab.unselected {
    color: var(--unselected-color);
}

.game-form .tabs .tab.selected {
    color: var(--selected-color);
    border-bottom: 2px solid var(--selected-color);
    z-index: 1;
}

.game-form .tabs .tab.unselected:hover {
    border-bottom: 2px solid var(--unselected-color);
}

.game-form .tab-content {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    min-height: 225px;
    overflow: hidden;
    position: relative;
    padding-top: 0.25rem;
}

.game-form .tab-content .form {
    /*margin-top: 1rem;*/
    position: absolute;
    width: 80%;    
    max-width: 500px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    animation: slide-in 0.3s ease-in;
}

.game-form .tab-content .show {
}

.game-form .tab-content .hidden {
    display: none;
}

@keyframes slide-in {
    from {
        transform: translateY(-75%) translateX(-50%);
        opacity: 0;
    }
    to {
    }
}

.form-error {
    color: red;
    font-size: 75%;
    min-height: 36px;
    margin-bottom: 6px;
}

.game-code-input input[type="text"] {
    text-transform: lowercase;
}