.game-badge-row {
    position: relative;
}

.tip-toggle {
    position: absolute;
    right: 0;
    height: 24px;
    width: 24px;
    border-radius: 4px;
    padding: 4px;/*d1d6da*/
    box-shadow: var(--strong-shadow-color) 0px 0px 4px 1px;
    cursor: pointer;
    user-select: none;
    z-index: 1;
}

.tip-toggle svg {
    color: var(--text-color);
    vertical-align: text-top;
    height: 12.8px;
}

.gamecode {
    box-shadow: 0px 0px 8px 0px var(--strong-shadow-color);
    cursor: pointer;
}