.board {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 450px;
    width: 700px;
    margin: 0 auto;
}

@media only screen and (min-width: 1600px) {
  .board {
    width: 66vw;
    height: 42vw;
  }
}

@media only screen and (max-width: 700px) {
  .board {
    width: 98vw;
    height: 75vw;
  }
}