.tile .token {
    position: absolute;
    top: -4px;
    min-height: 40%;
    min-width: 25%;
    box-shadow: rgba(33, 37, 41, 0.6) 0px 0px 8px 0px;
}

.tile .token.badge-danger {
    left: -4px;
}

.tile .token.badge-primary {
    right: -4px;
}

.tile.revealed.g {
    background-color: #28a745;
}

.tile.revealed.x {
    background-color: #000000;
}

.tile.revealed h6 {
    color: #ffffff;
}

.tile.hidden.g h6 {
    color: #28a745;
}

.tile.hidden.y h6 {
    color: #999;
}

.tile.hidden.x h6 {
    color: #000000;
}

.tile.glow-g {
    border: 2px solid #28a745;
    /*box-shadow: #28a745 0px 0px 0px 2px;*/
}

.tile.glow-y {
    /*border: 2px solid #999;*/
}

.tile.glow-x {
    border: 2px solid #000000;
    /*box-shadow: #000000 0px 0px 0px 2px;*/
}