.tile {
    display: flex;
    padding-right: 0;
    padding-left: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 19%;
    height: 19%;
    background-color: #eee;
    overflow: hidden;
}

.tile.player.active {
    cursor: pointer;
}

.tile.revealed.r {
    background-color: #dc3545;
}

.tile.revealed.b {
    background-color: #007bff;
}

.tile.revealed.y {
    background-color: #999;
}

.tile.revealed.x {
    background-color: #000000;
}

.tile h6 {
    margin: 0;
    width: 100%;
    padding: 0.5em;
    word-wrap: break-word;
}

.tile.revealed h6 {
    color: #ffffff;
}

.tile.hidden.key.r h6 {
    color: #dc3545;
}

.tile.hidden.key.b h6 {
    color: #007bff;
}

.tile.hidden.key.y h6 {
    color: #999;
}

.tile.hidden.key.x h6 {
    color: #000000;
}