.tile {
    display: flex;
    padding-right: 0;
    padding-left: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 19.4%;
    height: 18.8%;
    background-color: var(--tile-color);
    position: relative;
}

.tile.active {
    cursor: pointer;
}

.tile .text,
.tile .emoji {
    margin: 0;
    width: 100%;
    padding-right: 0.5em;
    padding-left: 0.5em;
    word-wrap: break-word;
}

.tile .emoji {
    font-size: 32px;
}

@media only screen and (min-width: 1600px) {
  .tile .text {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 700px) {
  .tile .text,
  .tile .emoji {
    padding-right: 0.1em;
    padding-left: 0.1em;
  }

  .tile .text {
    font-size: 12px;
    letter-spacing: -0.5px;
  }
}