.tile {
    display: flex;
    padding-right: 0;
    padding-left: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 19%;
    height: 19%;
    background-color: #eee;
    position: relative;
}

.tile.active {
    cursor: pointer;
}

.tile .text,
.tile .emoji {
    margin: 0;
    width: 100%;
    padding-right: 0.5em;
    padding-left: 0.5em;
    word-wrap: break-word;
}

.tile .emoji {
    font-size: 32px;
}

@media only screen and (max-width: 700px) {
  .tile .text {
    font-size: 2vw;
  }

  .tile .emoji {
    font-size: 4vw;
}
}