#footer {
    padding-top: 1rem;
    height: 75px;
    background: linear-gradient(rgb(231, 231, 231) 0%, rgb(244, 244, 244) 5%, rgb(255, 255, 255) 10%);
}

.dark #footer {
    background: linear-gradient(rgb(42, 42, 42) 0%, rgb(29, 29, 29) 5%, rgb(18, 18, 18) 10%);
    background: linear-gradient(rgb(58, 58, 58) 0%, rgb(45, 45, 45) 5%, rgb(34, 34, 34) 10%);
}

#footer-content {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

#built-by {
    color: var(--unselected-color);
}

#built-by a {
    color: var(--unselected-color);
}
