#header {
    padding-top: 1rem;
}

#header h6 {
    margin-bottom: 0;
}

#header a {
    text-decoration: none;
}

#header-badge {
    color: var(--text-color);
    background-color: var(--background-color);
}

#header-icon {
    height: 20px;
    margin-right: 8px;
}

.dark #header-icon {
    filter: invert(1);
}