.name-badge {
    position: relative;
}

.name-badge.captain {
}

.name-badge img.captain-icon {
    height: 9px;
    margin-right: 4px;
    filter: invert(1);
}

.name-badge.badge-light img.captain-icon {
    filter: invert(0);
}

.name-badge.player {

}

.name-badge button:focus {
  outline: none;
}

.name-badge .badge-x {
    padding: 0;
    border: none;
    background-color: #00000000;
    cursor: pointer;
}

.name-badge .badge-x span {
    margin-left: 12px;
    margin-right: 4px;
}

.name-badge .badge-x span:before,
.name-badge .badge-x span:after {
  position: absolute;
  content: ' ';
  height: 12px;
  width: 1.2px;
  background-color: #fff;
}

.name-badge.badge-light .badge-x span:before,
.name-badge.badge-light .badge-x span:after {
  background-color: #333;
}

.name-badge .badge-x span:before {
  transform: rotate(45deg);
}

.name-badge .badge-x span:after {
  transform: rotate(-45deg);
}

.name-badge .profile {
  display: none;
  position: absolute;
  background: inherit;
  border-radius: .25rem;
  padding: .25em .4em;

  left: 50%;
  top: 100%;
  width: inherit;
  transform: translateX(-50%);
}

.name-badge:hover .profile {
  display: block;
}