.badge.key {
    box-shadow: 0px 0px 4px 4px black;
}

.badge.player {

}

.badge .badge-x {
    padding: 0;
    border: none;
    background-color: #00000000;
}

.badge-x span {
    margin-left: 12px;
    margin-right: 4px;
}

.badge-x span:hover {
  opacity: 1;
}
.badge-x span:before,
.badge-x span:after {
  position: absolute;
  content: ' ';
  height: 12px;
  width: 1.2px;
  background-color: #fff;
}
.badge-x span:before {
  transform: rotate(45deg);
}
.badge-x span:after {
  transform: rotate(-45deg);
}