.spectator-list .closed {
    display: none;
}

.spectator-list .open {
}

.spectator-toggle {
    cursor: pointer;
}

.spectator-toggle:focus p {
}

.spectator-toggle:focus {
    box-shadow: none;
}
