.tile {
    display: flex;
    border: 2px solid black;
    padding-right: 0;
    padding-left: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 19%;
    height: 19%;
}

.tile.player.active {
    cursor: pointer;
}

.tile.revealed.r {
    background-color: #dc3545;
}

.tile.revealed.b {
    background-color: #007bff;
}

.tile.revealed.y {
    background-color: #aaaaaa;
}

.tile.revealed.x {
    background-color: #000000;
}

.tile p {
    margin: 0;
}

.tile.revealed p {
    color: #ffffff;
}

.tile.key.hidden.r p {
    color: #dc3545;
}

.tile.key.hidden.b p {
    color: #007bff;
}

.tile.key.hidden.y p {
    color: #aaaaaa;
}

.tile.key.hidden.x p {
    color: #000000;
}