.tile .token {
    position: absolute;
    top: -4px;
    min-height: 40%;
    min-width: 25%;
    box-shadow: rgba(33, 37, 41, 0.6) 0px 0px 8px 0px;
}

.tile .token.badge-danger {
    left: -4px;
}

.tile .token.badge-primary {
    right: -4px;
}

.tile.revealed.g {
    background-color: #28a745;
}

.tile.revealed.x {
    background-color: #000000;
}

.tile.revealed .text { color: #ffffff; }
.tile.hidden.g .text { color: #28a745; }
.tile.hidden.y .text { color: #999; }
.tile.hidden.x .text { color: #000000; }

.tile.revealed .emoji {  }
.tile.hidden.g .emoji { text-shadow: 0 0 18px #28a745, 0 0 18px #28a745, 0 0 18px #28a745; }
.tile.hidden.y .emoji {  }
.tile.hidden.x .emoji { text-shadow: 0 0 18px #000000, 0 0 18px #000000, 0 0 18px #000000; }

.tile.glow-g {
    border: 2px solid #28a745;
    /*box-shadow: #28a745 0px 0px 0px 2px;*/
}

.tile.glow-y {
    /*border: 2px solid #999;*/
}

.tile.glow-x {
    border: 2px solid #000000;
    /*box-shadow: #000000 0px 0px 0px 2px;*/
}

.dark .tile.glow-x {
    border: 2px solid #f8f8f8;
    /*box-shadow: #f8f8f844 0px 0px 0px 2px;*/
}